<div class="row mb-3">
  <div class="fs-2">Hello, {{userName}}!</div>
  <a href="/new-post"><button class="btn text-light bg-dark" id="new-post">New Post</button></a>
</div>
{{#each posts as |post| }}
<div class="row text-center mb-5">
  <div class="card col-md-6 offset-md-3 px-0">
    <a href="/posts/{{post.dataValues.title}}" style="text-decoration: none;"><div class="card-header">{{post.dataValues.title}}</div></a>
    <div class="card-body">
      {{post.dataValues.body}}
    </div>
  </div>
</div>
{{/each}}