<div class="text-danger" id="error-message"></div>
<div class="input-group my-3" style="max-width: 50%">
  <span class="input-group-text">Username</span>
  <input type="text" class="form-control" id="login-user" placeholder="Username" aria-label="Username" aria-describedby="login-user">
</div>
<div class="input-group mb-3" style="max-width: 50%">
  <span class="input-group-text">Password</span>
  <input type="text" class="form-control" id="login-password" placeholder="Password" aria-label="Password" aria-describedby="login-password">
</div>
<button class="btn text-light bg-dark mb-5" type="button" id="login-btn">Submit</button>
<div>
  Don't have an account? <span><a href="/signup">Sign up</a></span> here.
</div>

<script src="/js/login.js"></script>
