<div class="input-group my-3" style="max-width: 50%">
  <span class="input-group-text">Title</span>
  <input type="text" class="form-control" id="post-title" placeholder="Post Title" aria-label="Post Title" aria-describedby="post-title">
</div>
<div class="input-group mb-3" style="max-width: 100%">
  <span class="input-group-text">Body</span>
  <input type="text" class="form-control" id="post-body" placeholder="Post Body" aria-label="Post Body" aria-describedby="post-body">
</div>
<button class="btn text-light bg-dark mb-5" type="button" id="new-post-btn">Submit Post</button>

<script src="/js/newpost.js"></script>