<div class="text-danger" id="error-message">{{message}}</div>
<div class="input-group my-3" style="max-width: 50%">
  <span class="input-group-text">Username</span>
  <input type="text" class="form-control" id="signup-user" placeholder="Username" aria-label="Username" aria-describedby="signup-user">
</div>
<div class="input-group mb-3" style="max-width: 50%">
  <span class="input-group-text">Password</span>
  <input type="text" class="form-control" id="signup-password" placeholder="Password" aria-label="Password" aria-describedby="signup-password">
</div>
<button class="btn text-light bg-dark mb-5" type="button" id="signup-btn">Sign Up</button>

<script src="/js/signup.js"></script>